:root {
  --primaryColor: #13778b;
  --lightColor: white;
  --warning: #ce643a;
  --darkColor: #3e3f43;
  --blackColor: #0a141d;
  --padding: 8%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-size: 16px;
  color: var(--darkColor);
}

p {
  letter-spacing: 1px;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

h1 {
  font-size: 4.65rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: 0.12rem;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem var(--padding) 0 var(--padding);
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0.8rem 1.5rem;
}

nav ul li a {
  color: var(--darkColor);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
}

nav ul li a::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2.3px;
  bottom: -1.2px;
  left: 0;
  background-color: var(--primaryColor);
  transition: 0.5s;
}

nav ul li a:hover::before {
  width: 100%;
  color: var(--primaryColor);
}

section {
  height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
}

.home span,
.projects span {
  color: var(--primaryColor);
}

.content {
  flex-grow: 1;
  padding: 0 var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-texts {
  position: relative;
}

.container-texts h4 {
  padding-bottom: 1.5rem;
}

.download-cv {
  background-color: transparent;
  color: var(--darkColor);
  text-decoration: none;
  font-weight: bold;
  padding: 0.81rem 1.87rem;
  border-radius: 10px;
  border: 2px solid var(--primaryColor);
  transition: 0.4s;
  cursor: pointer;
}

.download-cv:hover {
  background-color: var(--primaryColor);
  color: var(--lightColor);
  border: 2px solid transparent;
}

.home .container-images {
  width: 45%;
  height: 90%;
  position: relative;
  align-self: flex-end;
}

.home .container-images img {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 65%;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.home .container-images:hover .shape {
  bottom: 40px;
}

.about {
  display: flex;
  background-color: var(--primaryColor);
  color: var(--lightColor);
  align-items: center;
  justify-content: space-around;
}

.about .container-images {
  width: 35%;
}

.about .container-images img {
  width: 120%;
  animation: move-up-down 3s ease-in-out infinite;
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

.about .container-texts {
  width: 45%;
}

.about .text-hero {
  letter-spacing: 1px;
  line-height: 1.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--warning);
}

.about .text-warning {
  color: var(--blackColor);
}

.projects {
  padding-top: 3rem;
}

.projects .text-center {
  text-align: center;
  padding-bottom: 1rem;
}

.projects h5 {
  font-size: 120%;
  color: var(--warning);
  font-weight: bold;
  text-decoration: underline var(--warning) solid 2px;
}

.projects .box {
  display: flex;
  justify-content: space-around;
}

.projects .card {
  width: 300px;
  border-radius: 20px;
  background-color: var(--darkColor);
  color: var(--lightColor);
  padding: 1.3rem 2rem;
  text-align: center;
  background-size: cover;
}

.projects .card img {
  width: 30%;
  margin-bottom: 0.5rem;
  border-radius: 10%;
}

.projects .card-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(../images/carrelage.jpeg);
}

.projects .card-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(../images/world_cup.png);
  background-position: center;
}

.projects .card-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url(../images/food.jpg);
    background-position: center;
}

.projects .card-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(../images/orphelin.jpg);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skills .text-center {
  flex-basis: 100%;
  text-align: center;
  padding: 0 var(--padding);
}

.skills .container-images {
  width: 45%;
  text-align: center;
}

.skills .container-images img {
  width: 70%;
}

.skills .container-skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 0.5rem;
}

.skill {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 5px;
  padding: 15px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.skill img {
  width: 100%;
}

footer {
  padding: 2rem var(--padding);
  background-color: var(--primaryColor);
  color: var(--lightColor);
}

footer span {
  color: var(--blackColor);
}

footer .content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

footer .welcome {
  margin: 1rem 0;
}

.social {
  margin-bottom: 0.5rem;
}

.social img {
  margin-right: 1rem;
  width: 2.5rem;
  transition: 0.4s;
}

.social img:hover {
  transform: scale(1.2);
}

footer .copyRight {
  margin-top: 1rem;
}

.hamburger {
  display: none;
  position: relative;
  cursor: pointer;
}

/* Media Queries */
@media screen and (max-width: 991px) {
  :root {
    --padding: 1.5rem;
  }

  html {
    font-size: 13px;
  }

  h1 {
    font-size: 2.415rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }

  section {
    height: 100%;
    padding: var(--padding);
  }

  .home .container-images {
    display: none;
  }

  nav ul {
    display: none;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--blackColor);
    height: 82px;
    padding-top: 0;
    padding-left: 0;
    z-index: 100;
  }

  nav ul {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--blackColor);
  }

  nav ul li {
    display: block;
    text-align: center;
    margin: 50px;
  }

  nav ul li a, nav ul li a:hover {
    color: var(--lightColor);
  }

  footer {
    padding: 0;
  }

  .hamburger {
    display: block;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: var(--lightColor);
    margin: 5px 0;
    display: block;
  }

  .hamburger .x-mark {
    font-size: 4.5rem;
    color: var(--primaryColor);
    display: none;
  }

  .content {
    flex-grow: 0;
    padding-top: 6.5rem;
  }

  .container-texts h4 {
    padding-bottom: 0.5rem;
  }

  .about .container-images {
    display: none;
  }

  .about .container-texts {
    width: 100%;
  }

  .about .text-hero {
    color: var(--blackColor);
  }

  .projects {
    padding-top: 2rem;
  }

  .projects .box {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .projects h5 {
    color: var(--primaryColor);
    text-decoration-color: var(--primaryColor);
  }

  .skills .container-images {
    display: none;
  }

  .skills .container-skills {
    width: 100%;
    justify-content: center;
  }

  footer .content-footer {
    padding: var(--padding);
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  nav ul {
    width: 50vw;
  }
}

@media screen and (min-width: 992px) and (max-width: 1279px) {
  .home .container-images .shape {
    width: 100%;
  }

  .projects {
    height: 100%;
    margin-bottom: 1rem;
  }
  
  .projects .box {
    flex-wrap: wrap;
    gap: 1rem;
  }
}
