:root {
  --primaryColor: #28a3e4;
  --lightColor: white;
  --darkColor: #3e3f43;
  --blackColor: #0a141d;
  --padding: 8%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Josefin Sans", "Arial", sans-serif;
  font-size: 16px;
  color: var(--darkColor);
}

p {
  letter-spacing: 1px;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

h1 {
  font-size: 4.65rem;
  margin: 1.7rem 0;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: 0.12rem;
}

h5 {
  font-size: 1.37rem;
  margin-bottom: 0.6rem;
  letter-spacing: 2px;
  text-decoration: underline 3px solid var(--lightColor);
}

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.home span, .projects span {
  color: var(--primaryColor);
}

nav {
  /* padding-top: 2.8rem; */
  padding-top: 1rem;
  padding-left: var(--padding);
  padding-right: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0.8rem 1.5rem;
}

nav ul li a {
  color: var(--darkColor);
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
  font-weight: bold;
}

nav ul li a:hover {
  color: var(--primaryColor);
  border-bottom: 0.2rem solid var(--primaryColor);
}

.content {
  flex-grow: 1;
  padding: 0 var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-texts {
  position: relative;
}

.download-cv {
  background-color: transparent;
  color: var(--darkColor);
  text-decoration: none;
  font-weight: bold;
  padding: 0.81rem 1.87rem;
  border-radius: 10px;
  border: 2px solid var(--primaryColor);
  transition: 0.4s;
}

.download-cv:hover {
  background-color: var(--primaryColor);
  color: var(--lightColor);
  border: 2px solid transparent;
}

.social {
  margin-bottom: 0.5rem;
}

.social img {
  margin-right: 1rem;
  width: 2.5rem;
  transition: 0.4s;
}

.social img:hover {
  transform: scale(1.2);
}

.home .container-images {
  width: 45%;
  height: 90%;
  position: relative;
  align-self: flex-end;
}

.home .container-images img {
  position: absolute;
  bottom: 0;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}

.home .container-images:hover .shape {
  bottom: 40px;
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: var(--primaryColor);
  color: var(--lightColor);
  padding: 2rem var(--padding);
  align-items: center;
  justify-content: space-around;
}

.about span {
  color: var(--darkColor);
}

.about .container-images {
  width: 35%;
}

.about .container-images img {
  width: 100%;
}

.about .container-texts {
  width: 45%;
}

/* .projects {

} */

.projects .text-center {
  text-align: center;
}

.projects h5 {
  color: var(--primaryColor);
  font-weight: bold;
}

.projects .box {
  display: flex;
  justify-content: space-around;
}

.projects .card {
  width: 300px;
  border-radius: 20px;
  background-color: var(--darkColor);
  color: var(--lightColor);
  padding: 1.3rem 2rem;
  text-align: center;
}

.projects .card img {
  width: 25%;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}

.skills-div {
  width: 100%;
  background-color: pink;
}

.skills {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem var(--padding);
  align-items: center;
  justify-content: space-around;
}

.skills .text-center {
  flex-basis: 100%;
  text-align: center;
}

.skills .container-images {
  width: 45%;
}

.skills .container-images img {
  width: 90%;
}

.skills .container-skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
}

.skill {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin: 5px;
  padding: 15px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
}

.skill img {
  width: 100%;
}

footer {
  /* width: 100%; */
  padding: 2rem var(--padding);
  background-color: var(--primaryColor);
  color: var(--lightColor);
}

footer span {
  color: var(--blackColor);
}

footer .content-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

footer .welcome {
  margin: 1rem 0;
}

footer .copyRight {
  margin-top: 1rem;
}